#contact_modal {
    display: none;
}

#main {
    padding: 0 100px;
}

/* PHOTOGRAPH-HEADER */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}
#photographerInfo h2 {
    color: #D3573C;
    font-size: 64px;
    margin: 10px;
    text-align: left;
}
#photographerInfo p {
    color: #901C1C;
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
}
#photographerInfo #pTagline p {
    color: #525252;
    font-size: 18px;
    margin: 0px;
}

.photograph-header #photographerPicture img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* FILTER BUTTON */
.filterButton .filter_button {
    padding-bottom: 4%;
    font-weight: 700;
}
.filterButton .filter_button label {
    font-size: 18px;
}
.filterButton .filter_button select {
    font-size: 20px;
    background-color: #901C1C;
    margin-left: 1%;
    width: 170px;
    height: 50px;
    padding: 11px;
    font-family: "DM Sans", sans-serif;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* PHOTOGRAPH-GALLERY */
.photograph-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 1% 7.5%;
}
.photograph-gallery .divGallery {
    display: flex;
    flex-direction: column;
}
.photograph-gallery .divGallery img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 2%;
}
.photograph-gallery .divGallery video {
    width: 100%;
    height: 15rem;
    object-fit: cover;

}
.photograph-gallery .divGallery p {
    color: #901C1C;
    font-size: 24px;
}
.photograph-gallery .divGallery .pictureText {
    display: flex;
    justify-content: space-between;
}
.photograph-gallery .divGallery .pictureText .pictureLike__btn {
    display: flex;
    align-items: center;
}
.photograph-gallery .divGallery .pictureText .pictureLike__btn .like__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.photograph-gallery .divGallery .pictureText .pictureLike__btn .count {
    color: #901C1C;
    font-size: 24px;
}
.photograph-gallery .divGallery .pictureText .pictureLike__btn i.fas {
    padding-left: 0.4rem;
    color: #901C1C;
    font-size: 1.25rem;
}
.photograph-gallery .divGallery .pictureText .pictureLike__btn i.far {
    padding-left: 0.4rem;
    color: #901C1C;
    font-size: 1.25rem;
}

/* TOTAL LIKES & DAILY RATE */
#totalLikes {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    right: 50px;
    background-color: #DB8876;
    color: black;
    width: 350px;
    height: 90px;
    font-size: 24px;
    padding: 0 10px 0 10px;
}
#totalLikes div {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}
#totalLikes div i {
    padding-left: 10px;
}




.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    width: 100%;
    margin: 0;
    padding-bottom: 2%;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#form-title {
    margin: 0;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

section {
    max-width: 1600px;
    padding: 50px 20px;
    margin: 0 auto;
}

section div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

section div img {
    max-width: 100%;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
}




.form-message {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Arial';
}
.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}
/* MESSAGE D'ERREUR FORMULAIRE VALIDATION */
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.2em;
    font-weight: 700;
    color: #901C1C;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}


/* CONFIRMATION SUBMIT MODAL */
.container-confirmation-submit {
    display: none;
    background-color: rgba(35, 35, 35, .5);
    width: 100%;
    height: 200vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .submitted-form {
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    top: 0px;
  }
  
  .close-modal-submit {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    color: #FFFFFF;
  }
  
  .close-modal-submit:before,
  .close-modal-submit:after {
    position: absolute;
    left: 0.9375rem;
    content: " ";
    height: 2.0625rem;
    width: 0.1875rem;
    background-color: #fff;
  }
  
  .close-modal-submit:before {
    transform: rotate(45deg);
  }
  
  .close-modal-submit:after {
    transform: rotate(-45deg);
  }
  
  .submitted-form p {
    width: 100%;
    height: 100%;
    background-color: #232323;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  #close-btn-confirmation {
    position: relative;
    top: -165px;
    outline: none;
    border: none;
    font-size: 22px;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }




/* LIGHTBOX */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}
.lightbox.fadeout {
    opacity: 0;
}
.lightbox__next,
.lightbox__prev {
    border: none;
    padding: 0;
    background: url(../assets/icons/arrow.svg) center center / 30px 48px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 3;
}
.lightbox__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}
.lightbox__close {
    border: none;
    padding: 0;
    width: 42px;
    height: 42px;
    background: url(../assets/icons/closeLightbox.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 4;
}
.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -5000px;
}
.lightbox button:hover {
    opacity: 1;
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 100vh;
}

.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(../assets/icons/loader.svg) center center no-repeat;
}


@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}